.container-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 50px;
  background-color: black;
}
.body-index {
  background-image: url('fondo1.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.body-about {
  background-image: url('fondo2.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.body-contact {
  background-image: url('fondo3.webp');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.body-services {
  background-image: url('fondofinal.avif');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.navbar {
  display: flex;
  justify-content: center;
  width: 100%;
}

.greeting { 
text-align: center;
}
.brand {
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: center; /* Agregar justificación centrada */
  margin: 0;
  padding: 0;
}
h2 {
  font-size: 20px;
}

li > a {
  display: block;
  padding: 8px 24px;
  color: white;
  text-decoration: none;
}
@media (min-width:768px){
.button-menu-toggle {
  display: none;
}
}
/* Estilos para el menú responsive */
@media (max-width: 768px) {
 /* Estilos para el menú responsive */
  .column {
    flex: 100%;
  }

  .nav-links {
    display: none;
  }

  .button-menu-toggle {
    display: block;
    background-color: white;
    border: none;
    border-radius: 50px;
    padding: 0 24px;
    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
    margin-left: auto;
  }

  .nav-links-responsive {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    position: absolute;
    top: 60px;
    right: 0;
    width: 120px;
    height: calc(32vh - 70px);
    background-color: rgba(20,20,20,0.95);
    margin: 0;
    padding: 0;
  }

  .nav-links-responsive li > a {
    display: block;
    padding: 8px;
    color: white;
    text-decoration: none;
    font-size: 14px;
  }
}

/* Estilos para el contenedor principal */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Estilos para el contenido del main */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Estilos para el contenido del footer */
.container-footer {
  min-height: 200px;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.button-footer {
  padding: 10px 20px;
  background-color: #fff;
  color: #333;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}
